/*
  Icon Font: icons
*/

@font-face {
  font-family: "icons";
  src: url("./icons.eot");
  src: url("./icons.eot?#iefix") format("embedded-opentype"),
       url("./icons.woff") format("woff"),
       url("./icons.ttf") format("truetype"),
       url("./icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: url("./icons.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.Icon-back:before,
.Icon-down:before,
.Icon-down-alt:before,
.Icon-logo:before,
.Icon-mouth:before,
.Icon-teeth:before,
.Icon-tooth:before,
.Icon-tooth-health:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.Icon-back:before { content: "\f100"; }
.Icon-down:before { content: "\f101"; }
.Icon-down-alt:before { content: "\f102"; }
.Icon-logo:before { content: "\f103"; }
.Icon-mouth:before { content: "\f104"; }
.Icon-teeth:before { content: "\f105"; }
.Icon-tooth:before { content: "\f106"; }
.Icon-tooth-health:before { content: "\f107"; }
