/**********************************  Main  ************************************/
@font-face {
  font-family: 'Gotham Thin';
  src: url("Gotham-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Light';
  src: url("Gotham-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Regular';
  src: url("Gotham-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Bold';
  src: url("Gotham-Bold.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  font-size: 1em;
  font-family: "Gotham Light";
  -webkit-font-smoothing: antialiased;
  color: #333;
}

body {
  overflow-x: hidden;
}

@media only screen and (max-width: 800px) {
  html, body {
    font-size: 0.8em;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham Light";
}

span, ul, li {
  display: inline-block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a, a:visited {
  color: #0088cc;
}
a:hover {
  text-decoration: underline;
}

em {
  font-style: normal;
  font-family: "Gotham Regular";
}

b {
  font-family: "Gotham Bold";
  font-weight: 800;
}

.HBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
}

.VBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Spacer {
  padding: 40px 20px 0 0;
}

@media screen and (min-width: 800px) {
  .Spacer {
    padding-right: 40px;
  }
}
.Spacer-S {
  padding: 20px 20px 0 0;
}

@font-face {
  font-family: 'Gotham Thin';
  src: url("Gotham-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Light';
  src: url("Gotham-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Regular';
  src: url("Gotham-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Bold';
  src: url("Gotham-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Thin';
  src: url("Gotham-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Light';
  src: url("Gotham-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Regular';
  src: url("Gotham-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Bold';
  src: url("Gotham-Bold.ttf") format("truetype");
}
.BusinessCard {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 0.4em;
}
.BusinessCard i {
  font-size: 4.32em;
}

@media screen and (min-width: 800px) {
  .BusinessCard {
    width: 800px;
  }
}
.BusinessCard__Title {
  font-size: 2.4em;
  color: blue;
}

.BusinessCard__Entry {
  font-size: 1.4em;
}

.ContactCard {
  opacity: 0.9;
}

@media screen and (min-width: 800px) {
  .ContactCard {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
@font-face {
  font-family: 'Gotham Thin';
  src: url("Gotham-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Light';
  src: url("Gotham-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Regular';
  src: url("Gotham-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Bold';
  src: url("Gotham-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Thin';
  src: url("Gotham-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Light';
  src: url("Gotham-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Regular';
  src: url("Gotham-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Bold';
  src: url("Gotham-Bold.ttf") format("truetype");
}
.ExpositionCard,
.WideExpositionCard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ExpositionCard__Box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gotham Thin";
  text-align: center;
  font-size: 1.92em;
}

.ExpositionCard__Box > img,
.WideExpositionCard__Box > img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 800px) {
  .ExpositionCard {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1000px) {
  .WideExpositionCard {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
#Card1__Emblems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
}
#Card1__Emblems > i {
  font-size: 64px;
  color: #91c646;
}

#Card1__Description p {
  font-family: "Gotham Light";
  text-align: justify;
  line-height: 1.5;
  font-size: 0.65em;
  letter-spacing: -0.01em;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  5% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  7% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  9% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  11% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  12% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  13% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  5% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  7% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  9% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  11% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  12% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  13% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@font-face {
  font-family: 'Gotham Thin';
  src: url("Gotham-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Light';
  src: url("Gotham-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Regular';
  src: url("Gotham-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Bold';
  src: url("Gotham-Bold.ttf") format("truetype");
}
#Hero__Nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.2em;
}
#Hero__Nav ul {
  margin: 20px 40px;
}
#Hero__Nav li {
  margin: 5px 10px;
}

#SuperHero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#SuperHero a {
  color: #333;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
#SuperHero #Hero__Nav {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
#SuperHero #Hero__Logo {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#SuperHero #Hero__LogoEmblem {
  font-size: 2em;
  min-width: 1.5em;
}
#SuperHero #Hero__LogoLogo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 40px;
}
#SuperHero #Hero__LogoAnthem {
  display: none;
}

#Hero {
  height: 100%;
  height: 100vh;
  max-height: 800px;
  background-color: #566d6b;
}
#Hero #Hero__Window {
  height: inherit;
  max-height: inherit;
}
#Hero #Hero__Window video {
  height: inherit;
  max-height: inherit;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -100;
}
#Hero #Hero__Overlay {
  position: absolute;
  top: 0;
  height: inherit;
  max-height: inherit;
  width: 100%;
  background-color: black;
  opacity: 0.2;
}
.it-has-no-video #Hero #Hero__Overlay,
#Hero #Hero__Overlay .it-has-touchevents {
  opacity: 0.4;
}
#Hero #Hero__Nav {
  width: 100%;
  z-index: 100;
}
#Hero #Hero__Nav a {
  color: white;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
#Hero #Hero__Intro {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  max-height: inherit;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
#Hero #Hero__Intro > span {
  margin-bottom: 40px;
  -webkit-animation: 6s 8s bounce 3;
          animation: 6s 8s bounce 3;
  opacity: 0.5;
}
#Hero #Hero__Intro > span > i {
  font-size: 2.5em;
}
#Hero #Hero__Logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 40px;
  letter-spacing: -0.1em;
}
#Hero #Hero__Logo b {
  font-family: "Gotham Bold";
  font-weight: 800;
  color: #dff8c1;
}
#Hero #Hero__LogoLogo {
  text-align: center;
}
#Hero #Hero__LogoEmblem {
  font-size: 4.32em;
}
#Hero #Hero__LogoTitle {
  font-family: "Gotham Regular";
  font-size: 2.4em;
  text-transform: uppercase;
}
#Hero #Hero__LogoTitle > * {
  display: block;
}
#Hero #Hero__LogoAnthem {
  margin-top: 40px;
  font-family: "Gotham Regular";
  font-size: 1.92em;
}

.MapCard {
  height: 400px;
}

@font-face {
  font-family: 'Gotham Thin';
  src: url("Gotham-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Light';
  src: url("Gotham-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Regular';
  src: url("Gotham-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Bold';
  src: url("Gotham-Bold.ttf") format("truetype");
}
.PanoramicCard,
.PanoramicCard__Box > img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.PanoramicCard__Box > img {
  opacity: 0.9;
}

@font-face {
  font-family: 'Gotham Thin';
  src: url("Gotham-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Light';
  src: url("Gotham-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Regular';
  src: url("Gotham-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Bold';
  src: url("Gotham-Bold.ttf") format("truetype");
}
.SideCard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.SideCard__PictureBox {
  width: 100%;
}

.SideCard__Picture img {
  width: 100%;
  opacity: 0.9;
}

.SideCard__DescriptionBox {
  font-family: "Gotham Thin";
  text-align: center;
  font-size: 1.92em;
  max-width: 600px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  text-align: start;
}

.SideCard__Spacer {
  width: 100%;
}

@font-face {
  font-family: 'Gotham Thin';
  src: url("Gotham-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Light';
  src: url("Gotham-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Regular';
  src: url("Gotham-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Gotham Bold';
  src: url("Gotham-Bold.ttf") format("truetype");
}
#Villain {
  background-color: #353a45;
  text-align: center;
}
#Villain * {
  color: #a2a2a2;
}

#Villain__Business {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#Villain__Business li {
  display: list-item;
  margin: 0 0 10px 0;
}

#Villain__Map ul {
  text-align: start;
}

#Villain__Brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#Villain__Brand > * {
  margin: 5px 0 5px 0;
}

#Villain__Logo {
  font-size: 64px;
}

#Villain__Artist {
  padding: 20px 0 20px 0;
  background-color: #1f1f1f;
  text-align: center;
}
#Villain__Artist a {
  text-decoration: underline;
}

/**************************************|***************************************/
