<!DOCTYPE html>
<html class="it-has-no-js">
    <head>
        <meta content="utf-8" http-equiv="Content-Encoding"/>
        <meta charset="utf-8" content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.url }}/resources/main.css"/>
        <link rel="stylesheet" href="{{ site.url }}/resources/icons.css"/>
    </head>
    <body>
        <header>
            {% if page.header %}
                {% include {{ page.header }} %}
            {% endif %}
        </header>
        <main>
            {{ content }}
        </main>
        <footer id="Villain">
            <section id="Villain__Studio">
                <div id="Villain__Map">
                    {% include nav.html %}
                </div>
                <div id="Villain__Brand">
                    <span id="Villain__Logo">
                        <i class="Icon-logo"></i>
                    </span>
                    <a href="{{ site.url }}/">www.studiogattone.it</a>
                    <span>0871 82253</span>
                </div>
                <div id="Villain__Info">
                    <ul>
                        <li>Via Marrucina, 128</li>
                        <li>66016 Guardiagrele</li>
                        <li>(Chieti)</li>
                    </ul>
                </div>
            </section>
            <section id="Villain__Artist">
                An <a href="https://github.com/daniele-orlando">EvilCorp</a> Design &amp; Production
            </section>
        </footer>
    </body>
    <script src="{{ site.url }}/resources/modernizr.js"></script>
    <script src="{{ site.url }}/resources/main.js"></script>
    <script>
    // <![CDATA[
        if (location.hostname === '127.0.0.1') {
            var url = 'http://{host}:3000/browser-sync/browser-sync-client.js'
            url     = url.replace('{host}', location.hostname)

            var script   = document.createElement('script')
            script.async = true
            script.src   = url

            document.body.appendChild(script)
        }
    // ]]>
    </script>
</html>
